.menu__content{
    display: flex;
    flex-direction: column;
    max-width: $mwidth;
    .menu__main-heading{
        font-weight: 300;
        font-size: 250%;
        opacity: 0.7;
        line-height: 3.2rem;
    }
    .menu-image{
        margin-bottom: -4rem;
    }

}
.menu-card{
    display: flex;
    flex-direction: column; 
    h2{
        font-size: 200%;
    }
        .item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
}

