html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "variables.scss";
@import "content.scss";
@import "header.scss";

body {
  font-family: $font;
  width: 100%;
  margin: 0 auto;
}
